# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
.venv
venv/
ENV/
.vscode

.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid      

# ipynb files
.ipynb_checkpoints/
*.ipynb